body {
	background-color: #FFF;
	font-family: Helvetica, sans-serif;
}

.navigation li {
	margin-left: 0px;
	margin-right: 0px;
	padding: 10px 2px;
	text-transform: uppercase;
	display: inline;
	float: right;
	
}

.navigation ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.navigation a {
	display: block;
	text-align: center;
	color: black;
	padding: 14px 16px;
}

.navigation {
	height: 60px;
	width: 100%;
	top: 0px;
	left: 0px;
}

/* change the color when the mouse hovers over a navigation bar button */
.navigation a:hover {
	background-color: lightgray;
}

/* Make the title go on the left side of the navi bar */
#title li {
	float: left;
}

.banner {
	background-size: cover;
	background-color: lightgreen;
	height: 500px;
	width: 100%;
	background-attachment: fixed;
}

#bannerContent {
	position: relative;
	top: 20%;
	padding: 30px 10px;
	margin: auto;
	color: tbd;
}